*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F0F0F0;
}
.logo{
	
	width: 300px;
	
}

.paislogo{
	width: 25px;
	margin-left: 600px;
}
.pais{
	text-decoration:none;
	color: #555555;
	top: -10px;

}
.linepais{
	width: 170px;
	margin-left: 890px;


}


.container{
	width: 85%;
	height: auto;
	margin: auto;
	background: #FFFFFF;
}
nav{
	margin-left: 10px;

}
nav ul li{
	display: inline-block;
	padding: 20px;
}
nav ul li:hover{
	background-color: #26ADE4;
	color: white;
}
nav:hover{
	color: white;
}
.lines{
	width: 1px;
	height: 50px;
	top: 25px;
	margin-right: 0px;
	background: #1388c8;
	position: relative;
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	color: #555555;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
nav ul li a:hover{
	color: white;
}
.lineblue{
		border-bottom: 5px solid #26ADE4;

}
#buscar{
	width: 200px;
	padding: 10px;
	margin-left: 10px;
}

#btnbuscar{
	padding: 10px;
}

.textura{
	margin-top: -100px;
}

.papel_slide{
	width: 100%;
	height: 220px;
}
.titulo_slide{
	font-size: 50px;
	margin-top: -150px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.titulo_hr{
	width: 100%;
	height: 100px;
	background-color: #26ADE4;
	margin-top: -5px;

}
.publicar{
	width: 400px;
	padding: 10px;
	height: 22px;
	margin-left: 420px;
	margin-top: 28px;
	font-size: 18px;
	color: #777777;
}
.btn-publicar{
	padding: 12px;
	border: none;
	background-color: #26ADE4;
	color: white; 
	font-size: 18px;
	cursor: pointer;
}
.estadisticas{
	width: 100%;
	height: 200px;
	background-color: #fbfbfb;
}
.container2{
	width: 85%;
	height: auto;
	margin: auto;
}
.titulo_estadisticas{
	padding-top: 70px;
	padding-left: 30px;
	color: #4bbbe8;
	text-transform: uppercase;
}
.parrafo_estadisticas{
	color: #555555;
	padding-left: 30px;
	font-size: 23px;
}

.img_estadisticas{
	padding-left: 900px;
	margin-top: -130px;
}
.titulo_empresa{
	padding-top: 20px;
	text-align: center;
	color: #4bbbe8;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.parrafo_empresa{
	text-align: center;
	font-size: 23px;
	color: #555555;

}

.titulo2_empresa{
	font-size: 50px;
	color: #555555;
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	padding-left: 450px;
}
.img_bueno{
	padding-left: 300px;
	width: 50px;
	padding-top: -10px;

}
span{
	font-size: 22px;
	padding: 10px;
	color: #555555;
}
.candado{
	margin-top: -900px;
	margin-left: 1050px;
}
.container3{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
}
footer{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	margin-bottom: 5px;
	color: #555555;
}
.empresa{
	webkit-box-shadow: 5px black;
}
.fb-like{
	margin-left: 930px;
	margin-top: -200px;
}
.beta{
	margin-left: 1300px;
}



