ul{
	margin-top: -80px;
}
.nombrep{
	margin: 10px;
	height-top: 50px;
	  width: 515px;
	  border: 1px solid #01A9DB;
      font-size: 1.1em;
	  font-family: Verdana, arial;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -o-border-radius: 4px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
	  text-align: center;
}
.file{
	margin: 10px;
	height-top: 50px;
	  width: 515px;
	  border: 1px solid #01A9DB;
      font-size: 1.1em;
	  font-family: Verdana, arial;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -o-border-radius: 4px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
	  text-align: center;
}
.descripcion{
	margin: 10px;
	height-top: 100px;
	  width: 515px;
	  border: 1px solid #01A9DB;
      font-size: 1.1em;
	  font-family: Verdana, arial;
	  padding-left: 7px;
	  padding-right: 7px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -o-border-radius: 4px;
	  background: #FFFFFF;
	  background: linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	  color: #2E3133;
	  text-align: center;
}
#fmrp{
	padding: 20px;
	background: rgba(0,0,0,0.2);
	width: 40%;
	height: 460px;
	margin: auto;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.4) inset;
}
label{

	color: white;
	margin: 240px;
}


.page{
	width: 100%;
	padding-bottom: 3px;
	color: white;
	background: rgba(0,0,0,0.2);
}
.color{
	color: 
	white;
}

/*Segutidad*/

#datos{
	text-align: center;
	padding: 20px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0px 15px 20px rgba(0,0,0,0.4) inset;
}
#actualizar{
	text-align: center;
	padding: 20px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0px 15px 20px rgba(0,0,0,0.4) inset;
}
#misdatos{
	text-align: center;
	padding: 20px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0px 15px 20px rgba(0,0,0,0.4) inset;
}

.des{
	padding: 20px;
	width: 50%;
	margin-left: 300px;
	background: white;
	color: red
}
.descrip{
	color: red
}
